<!DOCTYPE html>
<html>
<head>
  <title>RedditClone</title>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if signed_in? %>
    <form action="<%= session_url %>" method="POST">
      <strong><%= current_user.username %></strong> |

      <%= auth_token %>
      <input type="hidden" name="_method" value="delete">
      <button>Sign out</button>
    </form>
  <% else %>
    <a href="<%= new_session_url %>">Sign In</a> |
    <a href="<%= new_user_url %>">Sign Up</a>
  <% end %>

  <a href="<%= subs_url %>">All subs</a>

  <hr>

  <%= flash[:notice] %>

  <% if flash[:errors]  %>
    <ul>
      <% flash[:errors].each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>




<%= yield %>

</body>
</html>
